<dl class="dl-horizontal lead">
    <dt>What</dt>
    <dd>Ceremony & Reception!</dd>
    <dt>When</dt>
    <dd>Saturday, June 23rd, at 6:15 pm</dd>
    <dt>Where</dt>
    <dd>
        <address>
            City Museum<br>
            <a href="https://goo.gl/maps/GDvYtudhA3Q2" target="_blank">750 N 16th St, St. Louis, MO 63103</a><br>
            Phone: (314) 231-2489
        </address>
    </dd>
    <dt>Transportation</dt>
    <dd>
        TBD <!-- TODO - how are wedding party and us getting to the venue? -->
    </dd>
</dl>