<section id="thursday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Thurdsay - June 21st</h2>
                <hr class="primary">
                {% include 'partials/schedule-blocks/family-dinner.html' %}
            </div>
        </div>
    </div>
</section>

<section id="friday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday - June 22nd</h2>
                <hr class="primary">
                {% include 'partials/schedule-blocks/rehearsal.html' %}

                <hr class="primary">
                {% include 'partials/schedule-blocks/rehearsal-dinner.html' %}

                <hr class="primary">
                {% include 'partials/schedule-blocks/centerpiece-challenge.html' %}
            </div>
        </div>
    </div>
</section>

<section id="saturday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday - June 23rd</h2>
                <!-- Main Event -->
                <hr class="primary">
                {% include 'partials/schedule-blocks/ceremony-simple.html' %}

            </div>
        </div>
    </div>
</section>
