<section id="friday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday - June 22nd</h2>
                <hr class="primary">
                {% include 'partials/schedule-blocks/rehearsal.html' %}

                <hr class="primary">
                {% include 'partials/schedule-blocks/rehearsal-dinner.html' %}


                <hr class="primary">
                {% include 'partials/schedule-blocks/centerpiece-challenge.html' %}


            </div>
        </div>
    </div>
</section>
<section id="saturday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday - June 23rd</h2>
                <!-- Getting Ready -->
                <hr class="primary">
                <h3 class=" text-center">Getting Ready</h3>
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Getting Ready beforehand</dd>
                    <dt>When</dt>
                    <dd>TBD</dd> <!-- TODO - when? -->
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Pear Tree Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/9WDh2BFQJH12" target="_blank">10810 Pear Tree Lane, St. Louis, MO 63074</a><br/>Phone:  (314) 427-3400
                        </address>
                    </dd>
                </dl>

                <!-- Setup -->
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Setup at the Venue</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 23rd, at 4pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            City Museum<br>
                            <a href="https://goo.gl/maps/GDvYtudhA3Q2" target="_blank">750 N 16th St, St. Louis, MO 63103</a><br>
                        </address>
                    </dd>
                </dl>
                <!-- Main Event -->
                <hr class="primary">
                {% include 'partials/schedule-blocks/ceremony-simple.html' %}

            </div>
        </div>
    </div>
</section>
