<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                A long time ago, in a galaxy far, far away.... on the planet of Lowell, located in the outer rim of the
                Massachusetts system, a boy named Dan was running an experiment. He wanted to learn how people trust 
                droids when they behaved in certain ways, so he brought people in to his lab to drive his small droid 
                back and forth down a hallway, again and again.
            </p>
            <p>
                In that same galaxy, a girl named Vicki was taking classes at a university on this very same planet of
                Lowell. She decided to drive the rebellious droid, which did not do anything she wanted. Suddenly the
                droid stopped responding altogether, and the boy saw that it not only disobeyed its driver, but also its
                maker.
            </p>
            <p>
                As the boy waited for some technicians to speak with the droid, the two started talking together about what 
                might have gone wrong with the  droid's motivator. Even though conversing with the driver of the droid was 
                forbidden, the boy liked the look of the girl and liked her ideas about droids. And of course, the girl 
                liked the boy's droids, and the idea that the two of them could have many adventures together.
            </p>
            <p>
                From that spring onwards, that is exactly what the two of them did. They climbed mountains, descended canyons, 
                explored forbidden places, drove all over the country, ran a half marathon, visited foreign nations, and rode 
                many roller coasters together. The more time they spent in each others company, the more they realized that 
                by working together they could become very powerful! And that is why Dan asked Vicki to marry him, and why
                Vicki said yes! Now they are looking forward to a long future full of many more adventures!
            </p>
        </div>
    </div>
</div>
