{% load staticfiles %}
<div class="container">
    <h2 class="section-heading text-center">Gifts</h2>
    <hr class="primary">
    <p>
        The two of us have been living independently for years, so we...might already have too much stuff. Like dishes?
        We have so, so many dishes. What about kitchen gizmos, you ask? Oops. We also don't live in St. Louis,
        so any physical gifts we receive will have to be shipped back home!</p>
    <p>
        What we really could use some more of is <i>adventure</i>! We just can't seem to get enough of it! So,
        rather than compiling a long list of gift requests (neither of us like shopping) we are asking
        people to contribute to <a href="https://tendr.com/crosson-brooks-wedding">our honeymoon fund</a> to help us finance an amazing trip we can remember for
        the rest of our lives!</p>
    <p>Of course, if you have something special that you were really hoping to gift, I guarantee we will love it.</p>
    <!--TODO: Activate Honeyfund-->
</div>
