{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>

        We, uhh, might already have too much stuff. Like dishes... so, so many dishes. Oops. <br/><br/>

        What we really could use some more of is <i>adventure</i>! We just can't seem to get enough of it! So, 
        rather than compiling a long list of gift requests (neither of us like shopping) we are asking 
        people to contribute to our honeyfund to help us finance an amazing trip we can remember for 
        the rest of our lives!
        <br/><br/>Of course, if you have something special already in mind that you are 
        hoping to give us, please do so!
        <br/><br/><b>TODO: Set up Honeyfund</b><br/>
        <b>TODO: Ask someone (aunt marylinn?) to coordinate any special gifts people might want to give us</b>
        </p>
</div>
