<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <h3>Hotel Room Blocks</h3>
            <p>
                We arranged for blocks of rooms near the St. Louis Lambert airport at two hotels, and will provide a shuttle I guess <!-- TODO idk man-->
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Pear Tree Inn</th>
                    <td>

                        The <a href="https://www.druryhotels.com/bookandstay/newreservation/?groupno=2338205">Pear Tree Inn</a> is conveniently located near the airport; a hotel shuttle is available to transport you to/from the airport.
                        It is about a 20 minute drive to downtown St. Louis and the City Museum.
                        We have a block of discounted rooms reserved there - use the above link with group number <code>2338205</code> to get the group discount.
                        <!--TODO types of rooms?-->
                    </td>
                </tr>
                <tr>
                    <th>Hampton Inn</th>
                    <td>
                        The <a href="http://hamptoninn3.hilton.com/en/hotels/missouri/hampton-inn-st-louis-airport-STLAPHX/">Hampton Inn</a> is very close to - and similar to - the Pear Tree Inn. They also have a shuttle, which will bring you to/from the airport.
                        <!-- TODO how to book? types of rooms?-->
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
