<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <h3>Hotel Room Blocks</h3>
            <p>
            We arranged for discounted room rates at two hotels, near the St. Louis Lambert airport. 
            The hotels are right across the parking lot from each other. Both have free breakfast, 
            and an airport shuttle service. When booking a room at either hotel, make sure to mention 
            "Crosson-Brooks Wedding" to get our discounts!
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Pear Tree Inn</th>
                    <td>

                        <!--The <a href="https://www.druryhotels.com/bookandstay/newreservation/?groupno=2338205">Pear Tree Inn</a> is conveniently located near the airport; a hotel shuttle is available to transport you to/from the airport.
                        It is about a 20 minute drive to downtown St. Louis and the City Museum.
                        We have a block of discounted rooms reserved there - use the above link with group number <code>2338205</code> to get the group discount. -->
                        <address>
                            Pear Tree Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/9WDh2BFQJH12" target="_blank">10810 Pear Tree Lane, St. Louis, MO 63074</a><br/>Phone:  (314) 427-3400
                        </address>
                        <ul>
                            <li><strong>Room Options:</strong> 1 King Bed ($99.99) or 2 Double Beds ($104.99)</li>
                            <!-- <li><strong>Block size:</strong> 10 Kings and 15 Two Doubles</li> -->
                            <li><strong>Booking a room:</strong> <a href="https://www.druryhotels.com/bookandstay/newreservation/?groupno=2338205" target="_blank">Book Online</a> or call 1-800-325-0720 and refer to your group number <code>2338205</code></li>
                            <li>Rooms must be booked before May 24th.</li>
                        </ul>

                    </td>
                </tr>
                <tr>
                    <th>Hampton Inn</th>
                    <td>
                        <!-- The <a href="http://hamptoninn3.hilton.com/en/hotels/missouri/hampton-inn-st-louis-airport-STLAPHX/">Hampton Inn</a> is very close to - and similar to - the Pear Tree Inn. They also have a shuttle, which will bring you to/from the airport. -->
                        <address>
                            Hampton Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/K4fxWeGHtf82" target="_blank">10820 Pear Tree Lane, Saint Louis, MO 63074</a><br/>Phone:  (314) 429-2000 
                        </address>

                        <ul><li><strong>Room Options:</strong> 1 King Bed ($126.11) or 2 Queen Beds ($126.11)</li>
                            <!--<li><strong>Block Size:</strong> 15 (more available if block fills up)</li> -->
                            <li><strong>Booking a room:</strong> Call 314-429-2000  and ask to book a room for the "Crosson-Brooks Wedding"</li>
                            <li>Rooms must be booked before June 1st</li>
                        </ul>

                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
