<section id="friday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday - June 22nd</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>The Wedding Rehearsal</dd>
                    <dt>When</dt>
                    <dd>4:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Pear Tree Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/9WDh2BFQJH12" target="_blank">10810 Pear Tree Lane, St. Louis, MO 63074</a><br/>Phone:  (314) 427-3400
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Anything you want. Vicki will be wearing jeans.</dd>

                </dl>

                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>The Rehearsal Dinner</dd>
                    <dt>When</dt>
                    <dd>6:00 pm</dd>
                    <dt>Where</dt>
                    <dd> <!-- TODO - where is the rehearsal dinner?? -->
                        <address>
                            Location TBD
                        </address>
                    </dd>
                </dl>

                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Centerpiece Construction Challenge</dd>
                    <dt>When</dt>
                    <dd>After dinner</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Pear Tree Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/9WDh2BFQJH12" target="_blank">10810 Pear Tree Lane, St. Louis, MO 63074</a><br/>Phone:  (314) 427-3400
                        </address>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-party-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday - June 23rd</h2>
                <!-- Getting Ready -->
                <hr class="primary">
                <h3 class=" text-center">Getting Ready</h3>
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Getting Ready beforehand</dd>
                    <dt>When</dt>
                    <dd>TBD</dd> <!-- TODO - when? -->
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Pear Tree Inn St Louis Airport<br>
                            <a href="https://goo.gl/maps/9WDh2BFQJH12" target="_blank">10810 Pear Tree Lane, St. Louis, MO 63074</a><br/>Phone:  (314) 427-3400
                        </address>
                    </dd>
                </dl>

                <!-- Setup -->
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Setup at the Venue</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 23rd, at 4pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            City Museum<br>
                            <a href="https://goo.gl/maps/GDvYtudhA3Q2" target="_blank">750 N 16th St, St. Louis, MO 63103</a><br>
                        </address>
                    </dd>
                </dl>
                <!-- Main Event -->
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Ceremony & Reception!</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 23rd, at 6:15 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            City Museum<br>
                            <a href="https://goo.gl/maps/GDvYtudhA3Q2" target="_blank">750 N 16th St, St. Louis, MO 63103</a><br>
                            Phone: (314) 231-2489
                        </address>
                    </dd>
                    <dt>Transportation</dt>
                    <dd>
                        TBD <!-- TODO - how are wedding party and us getting to the venue? -->
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
