<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday - June 23rd</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Help us celebrate our marriage in St. Louis!</dd>
                    <dt>When</dt>
                    <dd>Saturday, June 23rd, at 6:15 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            City Museum<br>
                            <a href="https://goo.gl/maps/GDvYtudhA3Q2" target="_blank">750 N 16th St, St. Louis, MO 63103</a><br>
                            Phone: (314) 231-2489
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Business casual to semi-formal. Alternatively, cosplay is <i>strongly</i> encouraged.</dd>
                        <dd>    See <a href='/how/#style-guide'>Style Guide</a> for more details.</dd>
                    <dt>Transportation</dt>
                    <dd>There will be <a href='/where/#transport'>shuttles</a> running between the hotels with blocks and the venue.
                            <ul>
                                <li>Start time: 3:00pm</li><!--todo-->
                                <li>End time: 5:15pm</li><!--todo-->
                            </ul>
                            Shuttles will also be returning to the hotels throughout the night.
                        </dd>
                    <dt>Parking</dt>
                        <dd><a href='/where/#transport'>Parking</a> is also available at the venue.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
