<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">St Louis, MO</h2>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>There are a ton of things to do in St Louis! Some ideas are listed below.</p>

            <h4><a href="https://www.citymuseum.org/" target="_blank">The City Museum</a></h4>
            <p>Yep, that <b>is</b> the venue! However, you can enter the museum any time earlier that day and explore! The museum opens at 10 AM, so you should have plenty of time to run, climb, and crawl before the ceremony starts. Just let them know at the front that you're attending the Brooks/Crosson wedding (you get free admission!), get a wristband, and have fun!</p>

            <h4><a href="https://www.stlzoo.org/" target="_blank">The Zoo</a></h4>
            <p>St Louis has an amazing zoo - did you know they have <a href="https://www.stlzoo.org/visit/thingstoseeanddo/thewild/penguinpuffincoast/" target="_blank">7 different kinds of penguins</a>, who can jump out of their exhibits and run around the zoo at night (true story)!? And there is a polar bear, and a giraffe! Also, it is free!</p>

            <h4><a href="https://www.gatewayarch.com/" target="_blank">The Gateway Arch</a></h4>
            <p>Unlike the Washington Monument or Statue of Liberty, they still let you go up to the top of this one! And you get to ride in elevators that curve sideways! When the wind blows you can feel the whole structure moving!</p>

            <h4><a href="https://www.discoverstcharles.com/" target="_blank">St Charles</a></h4>
            <p>St Charles is a short drive from the airport, and is the city the Lewis and Clark Expedition left from! 
            There are restaruants and small bars, and even a Casino.</p>

            <h4><a href="http://www.budweisertours.com/" target="_blank">Anheuser-Busch Brewery</a> and <a href="http://www.grantsfarm.com/" target="_blank">Grant's Farm</a></h4>
            <p>Budweiser is a big deal in St. Louis, so if you are into breweries you won't want to miss this. Like horses? You can also see the famous Clydesdales at Grant's Farm!</p>

            <h4><a href="http://www.missouribotanicalgarden.org/" target="_blank">Missouri Botanical Gardens</a></h4>
            <p>This beautiful and expansive park is a National Historic Landmark and one of the oldest in the US. In addition to the flowers, there are blown glass installations including works by Chihuly. The Japanese garden is particularly awesome! </p>
            <h4><a href="https://www.imospizza.com/" target="_blank">Imo's Pizza</a></h4>
            <p>Dan says "Just go there and eat their pizza and salads!"</p>

        </div>
    </div>
</div>
