<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">St Louis, MO</h2>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>There are a ton of things to do in St Louis! Some ideas are listed below.</p>

            <h4>The City Museum</h4>
            <p>Yep, that <b>is</b> the venue! However, you can enter the museum any time earlier that day and explore! The museum opens at 10 AM, so you should have plenty of time to run, climb, and crawl before the ceremony starts. Just let them know at the front that you're attending the Brooks/Crosson wedding, get a wristband, and have fun!</p>

            <!-- TODO - what do to? -->
            <h4>The Zoo</h4>
            <p>Imma let you finish but the zoo is free.</p>

            <h4>The Gateway Arch</h4>
            <p>You'll see it.</p>
        </div>
    </div>
</div>
