{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Style Guide</h2>
            <hr class="primary">
            <p>This style guide presents a list of sartorial guidelines for anyone participating in the celebrations and Brooks/Crosson-related activities at the City Museum. The primary goal of this guide is to codify and record suggestions that the hosts make about practicality and style.</p>
            <p>We suggest that attendees review the following examples to get an idea of the pros and cons of various articles of clothing.</p>

            <!-- Vicki images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/top-black.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:400px; padding-right:1%">
                        <ul>
                            <li>Good arm mobility for climbing</li>
                            <li>Will look nice in pictures</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/bottom-jean.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Jeans provide excellent durability, for crawling</li>
                            <li>Acceptable coefficient of friction for slides</li>
                            <li>No rips or stains - Will look nice in pictures</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>T-shirt is too informal</li>
                        <li>Pencil skirt looks nice, but has very poor mobility.</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:400px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/top-tee-bottom-pencil.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Looks sharp</li>
                        <li>Pants do not limit dexterity bonus, which aids in jumping, sliding, crawling and climbing</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/top-teal-bottom-black.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- Dan images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/top-plaid.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:400px; padding-right:1%">
                        <ul>
                            <li>Scores high in agility</li>
                            <li>Pants should probably be ironed.</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/top-polo.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; padding-right:1%">
                        <ul>
                            <li>Polo shirt will look nice in pictures</li>
                            <li>Has better abrasion durability than a more delicate shirt</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Looks very sharp</li>
                        <li>If you get cold easily, vests are a good way to trap heat close to your body's core</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:400px;  padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/top-vest.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Suit will look great for formal pictures</li>
                        <li>Increases the number of hidden pockets you have</li>
                        <li>Suit jacket may induce sweating on a summer day</li>
                        <li>Arm movements are restricted</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;">
                    <img  src="{% static 'bigday/images/clothing/suit.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- Dress images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%;padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/dress-galaxy.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:400px">
                        <ul>
                            <li>Points for commitment to the theme</li>
                            <li>Wide skirt will allow for enhanced range of motion</li>
                            <li>Wicking material will keep you cool while dancing</li>
                            <li>Sneakers will provide traction, support, and comfort all day</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/dress-shorts.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Shorts under a skirt reduce awkward situations while climbing</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                            <li>Lightweight material has good ventilation</li>
                            <li>Long length dress will impair crawling and crouched movements</li>
                            <li>Botanical camouflage will not hide you well inside the caves</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:400px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/dress-floral.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Star Wars costumes are strongly encouraged</li>
                        <li>Well prepared to lead the Rebel Alliance</li>
                        <li>This person will have many pictures taken of them</li>
                        <li>Note: long skirt may hinder crawling and sliding</li>
                        <li>Wear white if you want!</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/mothma.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- Extra images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%;padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/top-white-bottom-dark.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:400px">
                        <ul>
                            <li>Wear white if you want!</li>
                            <li>Black belt and shoes matches dark grey pants</li>
                            <li>More traditional and formal look</li>
                            <li>Wearing pants that have thin armor or are easily damaged may prevent you from full exploring the space around you</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/top-gingham-bottom-short.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Untucked shirt is modern, but a bit too informal</li>
                            <li>"Dress shorts" are not a real thing</li>
                            <li>Shorts will expose knees to harsh terrain while crawling</li>
                            <li>Backs of legs may skid painfully down slides</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                            <li>Cargo pants are not appropriate in non-tactical situations</li>
                            <li>This is a non-tactical situation</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:400px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/top-tee-bottom-cargo.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Tuxedo will be too dressy for the occasion</li>
                        <li>Bonus points for being an actual cat</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/tux.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- Shoe images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%;padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-flats.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:200px">
                        <ul>
                            <li>Shoes will stay on feet while crawling, climbing, and dancing</li>
                            <li>Closed toe design will protect against injury</li>
                            <li>Flat shoes will not fall into cracks</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-chunky.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Chunky heels are more stable than other heels, but may still hinder movement</li>
                            <li>Sandal design exposes foot to abrasion</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Will make you appear to be taller than you are</li>
                        <li>Very hard to climb in, not recommended</li>
                        <li>Could roll your ankle</li>
                        <li>Reminder: shoes must be worn at all times</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:200px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/shoes-heels.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Platform shoes create an uneven surface, providing a strategic advantage when ascending low inclines, but could make vertical climbing difficult</li>
                        <li>Free heel design may allow shoes to accidentally separate from feet, which will hinder exploration and dancing</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/shoes-platforms.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- Shoe images 2: Electric Boogaloo-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%;padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-black.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:200px">
                        <ul>
                            <li>Black leather shoes look very nice with dark pants</li>
                            <li>Good tread on the bottoms will provide a firm grip on uneven surfaces and braking force at the bottom of slides</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-brown.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Nice shoes, but might get scuffed up by crawling through tight spaces</li>
                            <li>Check soles for appropriate traction: safety is our #1 concern</li>
                            <li>Color goes well with khaki pants</li>
                        </ul>
                    </div>
                </div>

                <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Sports shoes give you +5 on athletic checks</li>
                        <li>Closed toes offer superior performance on difficult terrain</li>
                        <li>Reasonably clean and won't look out of place with lots of other people wearing them</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:200px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/shoes-sneakers.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>High-stick tactical rubber will be overkill for this occasion</li>
                        <li>Will wear down quickly on concrete surfaces</li>
                        <li>Sticky rubber may cause over braking on slides</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/shoes-canyon.jpg' %}" width="80%" align="right">
                </div>
            </div>
            </div>

            <!-- The rest of the images-->
            <div class="stack">
                <div style="display: table; clear: both;">
                    <div style="float: left; width: 25%;padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-sandals.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%; border-right:1px solid #000;height:200px">
                        <ul>
                            <li>Strong webbing straps firmly afix sandals to the feet</li>
                            <li>Sandals with good traction are acceptable for the ladies, more questionable for guys</li>
                            <li>Sandals offer less optimal performance than athletic shoes</li>
                        </ul>
                    </div>

                    <div style="float: left; width: 25%; padding-right:1%">
                        <img  src="{% static 'bigday/images/clothing/shoes-none.jpg' %}" width="80%" align="right">
                    </div>
                    <div style="float: left; width: 25%;">
                        <ul>
                            <li>Bare feet are not permitted at any time in the City Museum</li>
                        </ul>
                    </div>
                </div>

                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Headlamp allows user to see in the dark within a specific radius; this may prove helpful in caves</li>
                        <li>Emergency compass and whistle not required to participate in this expedition</li>
                        <li>Trail mix is delicious, but outside food and drinks are not permitted in the City Museum</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:200px; padding-right:1%">
                    <img  src="{% static 'bigday/images/clothing/gear.jpg' %}" width="80%" align="right">
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
