{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Style Guide</h2>
            <hr class="primary">
            <p>This style guide presents a list of sartorial guidelines for anyone participating in the celebrations and Brooks/Crosson-related activities at the City Museum. The primary goal of this guide is to codify and record suggestions that the hosts make about practicality and style.</p>
            <p>We suggest that attendees review the following examples to get an idea of the pros and cons of various articles of clothing.</p>

            <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <img  src="{% static 'bigday/images/clothing/top-black.jpg' %}" width="80%" align="right">
                </div>
                <div style="float: left; width: 25%; border-right:1px solid #000;height:400px">
                    <ul>
                        <li>Good arm mobility for climbing</li>
                        <li>Will look nice in pictures</li>
                    </ul>
                </div>

                <div style="float: left; width: 25%;">
                    <img  src="{% static 'bigday/images/clothing/top-black.jpg' %}" width="80%" align="right">
                </div>
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Good arm mobility for climbing</li>
                        <li>Will look nice in pictures</li>
                    </ul>
                </div>
            </div>

            <div style="display: table; clear: both;">
                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Good arm mobility for climbing</li>
                        <li>Will look nice in pictures</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;  border-right:1px solid #000;height:500px">
                    <img  src="{% static 'bigday/images/clothing/top-black.jpg' %}" width="80%" align="right">
                </div>


                <div style="float: left; width: 25%;">
                    <ul>
                        <li>Good arm mobility for climbing</li>
                        <li>Will look nice in pictures</li>
                    </ul>
                </div>
                <div style="float: left; width: 25%;">
                    <img  src="{% static 'bigday/images/clothing/top-black.jpg' %}" width="80%" align="right">
                </div>
            </div>

            <div style="display: table; clear: both;">
                <div style="float: left; width: 50%;">
                </div>
                <div style="float: left; width: 50%;">
                </div>
            </div>

        </div>
    </div>
</div>
