{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Transportation</h2>
            <hr class="primary">
            <div style="display: table; clear: both;">
                <div style="float: left; width: 50%;">
                    <h3>Parking</h3>
                    <p><b>We don't recommend driving to the wedding, as there will be an open bar.</b></p>
                    <p>That said, there are two parking lots available if needed. </p>
                        <ul>
                            <li>The main lot charges $10 (cash only) per car, and spaces are not reserved or guaranteed. However, the lot is secure, well-marked, lit, and closest to the front door.</li>
                            <li>The overflow parking lot at 17th and Lucas is free to park in, but is further away from the entrance.</li>
                        </ul>

                </div>
                <div style="float: left; width: 50%;">
                    <a href="{% static 'bigday/images/parking.jpg' %}" target="_blank">
                        <img src="{% static 'bigday/images/parking.jpg' %}" width="80%" align="right" alt="Overflow Lot location" title="Click to Enlarge" style="box-shadow: 7px 7px 5px #888888">
                    </a>
                </div>
            </div>
            <br>
            <h3>Shuttle</h3>
            <p>Instead of driving, we recommend taking the shuttle that will be running between the Pear Tree Inn Airport hotel and the venue!
                <ul>
                    <li>Departing Pear Tree Inn Airport: 4:45p</li>
                    <li>Arriving City Museum: 5:05p</li>
                    <li>Departing Pear Tree Inn Airport: 5:30p</li>
                    <li>Arriving City Museum: 5:50p</li>
                </ul>
            Announcements will be made before the shuttle departs during the reception.
                <ul>
                    <li>Departing City Museum: 9:45p</li>
                    <li>Departing City Museum: 10:45p</li>
                    <li>Departing City Museum: 11:55p</li>
                </ul>
        </div>
    </div>
</div>
