{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h2 class="section-heading text-center">The Venue</h2>
            <hr class="primary">
            <div style="display: table; clear: both;">
                <div style="float: left; width: 50%;">
                    <!-- Map to City Museum does not scale correctly TODO-->
                    <div class="mapouter"><div class="gmap_canvas"><iframe width=90% height=90%  id="gmap_canvas" src="https://maps.google.com/maps?q=City Museum&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{overflow:hidden;height:400px;width:600px;}.gmap_canvas {background:none!important;height:400px;width:600px;margin-left:auto; margin-right:auto;}</style></div>
                </div>
                <div style="float: left; width: 50%;">
                    <h3>The City Museum</h3>
                    <p>Both the ceremony and the reception will be take place in the Vault Room of the <a href="https://www.citymuseum.org/">City Museum</a>. This museum is an interactive space, with exhibits designed to be crawled through, climbed on, and run around! Note that closed-toe, closed-heel shoes are strongly recommended, and check out the <a href='/how/#style-guide'>Style Guide</a> for more ideas about how to dress appropriately.</p>
                    <p>Feel free to get there any time before the start of the ceremony, including as early as 10 AM. At the front desk, let them know you're there for the Brooks/Crosson wedding to get a wristband to allow all-day access.</p>
                </div>
            </div>

        </div>
    </div>
</div>

